@import "../../utils/variables.scss";

.followed-user {
  text-align: center;
  margin-bottom: 2vh;

  &__photo {
    
    img {
      
      width: 35%;
      height: 35%;
      border-radius: 50%;
    }
  }

  &__name {
    p{
      font-family: "Inter", sans-serif;
      font-size: 14px;
      color: $lightBrown;
    }
    
  }
}
