@import "../../utils/variables.scss";

.followed-user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  &__container {
    width: 33.33%;
    cursor: pointer;
    text-align: center;

    &-photo {
      width: 50px;
      border-radius: 50%;
    }

    &-name {
      font-family: "Inter", sans-serif;
      font-size: 12px;
      color: $lightBrown;
    }
  }
}
