@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
.my-profile-info {
  height: 100%;
  display: flex;
  align-items: center;
}
.my-profile-info__content {
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  color: #EDE7DC;
  font-family: "Inter", sans-serif;
}
.my-profile-info__content input {
  font-family: "Inter", sans-serif;
  height: 25px;
  margin-bottom: 45px;
  color: #854b25;
  background-color: #F0AB55;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  padding-left: 10px;
}
.my-profile-info__content-avatar {
  min-width: 30%;
}
.my-profile-info__content-avatar-square {
  width: calc(30vw - 155px);
  height: 250px;
  position: absolute;
  z-index: -1;
  background-color: #2c1e1a;
}
.my-profile-info__content-avatar-photo {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}
.my-profile-info__content-avatar-photo img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.my-profile-info__content-info {
  min-width: 25%;
  display: flex;
  flex-direction: column;
}
.my-profile-info__content-info button {
  cursor: pointer;
  height: 25px;
  width: 65px;
  font-size: 14px;
  color: #854b25;
  background-color: #F0AB55;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 10px;
}
.my-profile-info__content-info button:hover {
  color: #EDE7DC;
}
.my-profile-info__content-info-name {
  font-size: 28px;
}
.my-profile-info__content-info-name p {
  margin: 10px;
}
.my-profile-info__content-info-name-others {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.my-profile-info__content-info-name-others p {
  padding: 5px;
}
.my-profile-info__content-info-name-others input {
  width: 110px;
  height: 35px;
  border-radius: 25px;
}
.my-profile-info__content-info-name-others-upload {
  width: 120px;
  font-size: 12px !important;
  background-color: #F0AB55 !important;
  color: #854b25 !important;
  border-radius: 25px !important;
  height: 35px;
  font-family: "Inter", sans-serif !important;
}
.my-profile-info__content-info-name-others-upload-uploadHiden {
  display: none;
}
.my-profile-info__content-interests {
  font-size: 28px;
  min-width: 25%;
}
.my-profile-info__content-interests p {
  margin: 10px;
}
.my-profile-info__content-interests-container .MuiStack-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.my-profile-info__content-interests-container .MuiStack-root > :not(style) {
  font-family: "Inter", sans-serif;
  background-color: #F0AB55;
  color: #854b25;
  margin-top: 10px;
}
.my-profile-info__content-desiredGifts {
  min-width: 20%;
}
.my-profile-info__content-desiredGifts-header {
  text-align: center;
}
.my-profile-info__content-desiredGifts-header p {
  font-size: 28px;
  margin: 10px;
}
.my-profile-info__content-desiredGifts-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.my-profile-info__content-desiredGifts-box-item {
  cursor: pointer;
  text-align: center;
  font-size: 11px;
  width: 100px;
}
.my-profile-info__content-desiredGifts-box-item img {
  width: 45px;
  border-radius: 10px;
  transition: opacity 0.3s ease-out;
}
.my-profile-info__content-desiredGifts-box-item img:hover {
  opacity: 0.5;
}
.my-profile-info__content-desiredGifts-box-item p {
  margin: 5px;
}/*# sourceMappingURL=MyProfileInfo.css.map */