@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
.my-profile-info {
  width: 100%;
}
.my-profile-info__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
}
.my-profile-info__content input {
  font-family: "Inter", sans-serif;
  height: 25px;
  margin-bottom: 45px;
  color: #854b25;
  background-color: #F0AB55;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  padding-left: 10px;
}
.my-profile-info__content-avatar {
  position: relative;
  width: calc(20vw + 125px);
}
.my-profile-info__content-avatar-square {
  width: 20vw;
  height: 250px;
  position: relative;
  background-color: #2C1E1A;
  overflow: hidden;
}
.my-profile-info__content-avatar-photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(20vw - 125px);
}
.my-profile-info__content-avatar-photo img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.my-profile-info__content-info {
  display: flex;
  flex-direction: column;
}
.my-profile-info__content-info button {
  cursor: pointer;
  height: 25px;
  width: 65px;
  font-size: 14px;
  color: #854b25;
  background-color: #F0AB55;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 7px;
  margin-right: 5px;
  margin-top: 10px;
}
.my-profile-info__content-info button:hover {
  color: #EDE7DC;
}
.my-profile-info__content-info-name {
  font-size: 24px;
}
.my-profile-info__content-info-name p {
  color: #EDE7DC;
}
.my-profile-info__content-info-name-others {
  padding-left: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
.my-profile-info__content-info-name-others p {
  padding: 5px;
  color: #EDE7DC;
}
.my-profile-info__content-info-name-others input {
  width: 110px;
  height: 35px;
  border-radius: 25px;
}
.my-profile-info__content-info-name-others-upload {
  width: 120px;
  font-size: 12px !important;
  background-color: #F0AB55 !important;
  color: #854b25 !important;
  border-radius: 25px !important;
  height: 35px;
  font-family: "Inter", sans-serif !important;
}
.my-profile-info__content-info-name-others-upload-uploadHiden {
  display: none;
}
.my-profile-info__content-interests-header {
  font-size: 24px;
  color: #EDE7DC;
}
.my-profile-info__content-interests-container-tagsOnEdit {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
.my-profile-info__content-interests-container-tagsOnEdit-tag {
  margin: 1px !important;
  font-family: "Inter", sans-serif !important;
  background-color: #F0AB55 !important;
  color: #854b25 !important;
}
.my-profile-info__content-interests-container-tag {
  margin: 1px !important;
  font-family: "Inter", sans-serif !important;
  background-color: #F0AB55 !important;
  color: #854b25 !important;
}
.my-profile-info__content-desiredGifts-header {
  font-size: 24px;
  color: #EDE7DC;
}
.my-profile-info__content-desiredGifts-container {
  display: flex;
  flex-wrap: wrap;
}
.my-profile-info__content-desiredGifts-container-gift {
  cursor: pointer;
  width: -moz-min-content;
  width: min-content;
  margin: 5px;
}
.my-profile-info__content-desiredGifts-container-gift-photo {
  width: 70px;
  border-radius: 20px;
  transition: opacity 0.3s ease-out;
}
.my-profile-info__content-desiredGifts-container-gift-photo:hover {
  opacity: 0.5;
}
.my-profile-info__content-desiredGifts-container-gift-name {
  color: #EDE7DC;
  text-align: center;
  font-size: 12px;
}/*# sourceMappingURL=MyProfileInfo.css.map */