@import "../../utils/variables.scss";

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  width: 100vw;

  &__match,
  &__best,
  &__followed,
  &__search {
    font-size: 14px;
    margin: 0 1vw 0 1vw;
    font-family: "Inter", sans-serif;
    color: $whiteText;

    &:hover{
      color: $lightBrown;
    }
  }

  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;

    &-img {
      width: 45px;
      height: 45px;
    }

    &-AuthButton{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      color: $whiteText;
      font-family: "Inter", sans-serif;
      text-decoration: none;

      &:hover{
        color: $lightBrown;
      }
    }
  }
}
