@import "../../utils/variables.scss";

.wish-item {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: 100px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    &-square {
        transition: opacity 0.3s ease-out;

        &:hover {
          opacity: 0.5;
        }
    
      &-photo {
        max-width: 60%;
        height: auto;
        border-radius: 20%;
      }
    }

    &-name {
      font-size: 12px;
      font-family: "Inter", sans-serif;
      color: $lightBrown;
      margin: 0;
    }

    &.removed {
      opacity: 0;
      height: 0;
      margin: 0;
      padding: 0;
    }
  }
}
