@import "../../utils/variables.scss";

.wish-item{
    &__square{
        width: 7vw;
        height: 7vw;
        border-radius: 1.5vw;
        background-color: $brown;
        margin-bottom: 2vh;
    }
}