@import "../../utils/variables.scss";

.home__info-element {
  font-family: "Inter", sans-serif;

  &-logoName {
    font-size: 115px;
   
    &-one {
      color: #eda452;
    }

    &-two {
      color: #fbd9a3;
    }
  }

  &-description {
    margin-left: 10px;
    color: #fbd9a3;
    font-size: 18px;
  }
}
