@import "../../utils/variables.scss";

.profile-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ecd3af;
  height: 100%;

  &__upcomingBirthday {
    
    &-header {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      color: $lightBrown;
      text-align: center;
    }

    &-followedUsers {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
  }

  &__calendar {
    margin-top: 4vh;

    .MuiDateCalendar-root {
      color: $whiteText;
      border-radius: 25px;
      background-color: $brown;
      font-family: "Inter", sans-serif;
      height: 40vh;
      width: 25vw;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .MuiPickersDay-root {
      color: $whiteText;
      font-family: "Inter", sans-serif;
      margin: 0;
    }

    .MuiDayCalendar-weekDayLabel,
    .MuiPickersArrowSwitcher-button,
    .MuiPickersCalendarHeader-switchViewButton {
      margin: 0;
      color: $whiteText;
      font-family: "Inter", sans-serif !important;
    }

    .css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
      border: 3px solid $whiteText;
    }

    .MuiPickersDay-root.Mui-selected {
      background-color: $orange !important;
    }
  }

  &__wishList {

    &-header {
      font-family: "Inter", sans-serif;
      font-size: 18px;
      color: $lightBrown;
      text-align: center;
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
    }
  }
}
