@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
.profile-menu {
  width: 100vw;
}
.profile-menu__content-upcomingBirthday {
  width: 33.33%;
}
.profile-menu__content-upcomingBirthday-header {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #854b25;
}
.profile-menu__content-calendar {
  display: flex;
  align-items: center;
}
.profile-menu__content-calendar .MuiPickersDay-dayWithMargin.dayMarker {
  background-color: #2C1E1A;
  color: white;
}
.profile-menu__content-calendar .MuiDateCalendar-root {
  margin: 15px 0 15px 0;
  color: #EDE7DC;
  border-radius: 25px;
  background-color: #422D27;
  font-family: "Inter", sans-serif;
  height: 36vh;
  overflow-y: auto;
}
.profile-menu__content-calendar .MuiDateCalendar-root::-webkit-scrollbar {
  display: none;
}
.profile-menu__content-calendar .MuiDateCalendar-root div::-webkit-scrollbar {
  display: none;
}
.profile-menu__content-calendar .MuiPickersDay-root {
  color: #EDE7DC;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.profile-menu__content-calendar .MuiDayCalendar-weekDayLabel,
.profile-menu__content-calendar .MuiPickersArrowSwitcher-button,
.profile-menu__content-calendar .MuiPickersCalendarHeader-switchViewButton {
  margin: 0;
  color: #EDE7DC;
  font-family: "Inter", sans-serif !important;
}
.profile-menu__content-calendar .css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: 3px solid #EDE7DC;
}
.profile-menu__content-calendar .Mui-selected {
  background-color: #F0AB55 !important;
}
.profile-menu__content-calendar .MuiPickersYear-root {
  flex-basis: 20vw;
}
.profile-menu__content-calendar-popup {
  font-family: "Inter", sans-serif;
}
.profile-menu__content-calendar-popup .MuiDialog-paper {
  background-color: #ECD3AF;
  border-radius: 25px;
  border: 2px solid #ECD3AF;
}
.profile-menu__content-calendar-popup-content {
  color: #EDE7DC !important;
  background-color: #422D27;
  width: 350px;
}
.profile-menu__content-calendar-popup-content-gift, .profile-menu__content-calendar-popup-content-user {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  align-items: center;
}
.profile-menu__content-calendar-popup-content-gift-element, .profile-menu__content-calendar-popup-content-user-element {
  text-align: center;
  font-family: "Inter", sans-serif;
  height: 25px;
  width: 125px;
  border: none;
  border-radius: 15px;
  color: #2C1E1A;
  background-color: #F0AB55;
}
.profile-menu__content-calendar-popup-content-gift-element:hover, .profile-menu__content-calendar-popup-content-user-element:hover {
  background-color: #ECD3AF !important;
  color: #854b25;
}
.profile-menu__content-calendar-popup-content-notes {
  width: 100%;
}
.profile-menu__content-calendar-popup-content-notes-element {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.profile-menu__content-calendar-popup-content-notes-element-remove {
  font-family: "Inter", sans-serif !important;
  border-radius: 25px !important;
  height: 25px;
  background-color: #ECD3AF !important;
  color: #854b25 !important;
}
.profile-menu__content-calendar-popup-content-notes-element-remove:hover {
  background-color: #422D27 !important;
  color: #ECD3AF !important;
}
.profile-menu__content-calendar-popup-action {
  height: 45px;
}
.profile-menu__content-calendar-popup-action-cancel, .profile-menu__content-calendar-popup-action-save {
  font-family: "Inter", sans-serif !important;
  border-radius: 25px !important;
  height: 35px;
  background-color: #2C1E1A !important;
  color: #ECD3AF !important;
}
.profile-menu__content-calendar-popup-action-cancel:hover, .profile-menu__content-calendar-popup-action-save:hover {
  background-color: #ECD3AF !important;
  color: #854b25 !important;
}
.profile-menu__content-wishList {
  width: 33.33%;
}
.profile-menu__content-wishList-header {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #854b25;
}/*# sourceMappingURL=ProfileMenu.css.map */