.RegisterPage {
    
  &__form {
    position: absolute;
    left: calc(50% - 300px);
  }

  &__wavesImg {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: rotate(180deg);
  }
}
