.ProfilePage {
  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-info {
      height: 55%;
    }

    &-menu {
      height: 45%;
    }
  }
}
