.ProfilePage {
  &__content {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-info {
      height: 50%;
    }

    &-menu {
      height: 50%;
    }
  }
}
