@import "../../utils/variables.scss";

.profile-info {
  width: 100%;
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Inter", sans-serif;

    &-avatar {
      position: relative;
      width: calc(20vw + 125px);

      &-square {
        width: 20vw;
        height: 250px;
        position: relative;
        background-color: $darkBrown;
        overflow: hidden;
      }

      &-photo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: calc(20vw - 125px);

        img {
          border-radius: 50%;
          width: 250px;
          height: 250px;
          object-fit: cover;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      &-name {
        font-size: 24px;
        p {
          color: $whiteText;
        }
      }

      &-others {
        margin-left: 15px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        p {
          padding: 5px;
          color: $whiteText;
        }
      }

      &-follow {
        button {
          cursor: pointer;
          height: 25px;
          width: 75px;
          font-size: 14px;
          color: $lightBrown;
          background-color: $orange;
          font-family: "Inter", sans-serif;
          border: none;
          border-radius: 7px;
          margin-right: 5px;
          margin-top: 10px;

          &:hover {
            color: $whiteText;
          }
        }
      }
    }

    &-interests {
      &-header {
        font-size: 24px;
        color: $whiteText;
      }

      &-container {
        &-tag {
          font-family: "Inter", sans-serif !important;
          background-color: $orange !important;
          color: $lightBrown !important;
        }
      }

      button {
        cursor: pointer;
        height: 35px;
        width: 80px;
        font-size: 14px;
        color: $orange;
        background-color: $darkBrown;
        font-family: "Inter", sans-serif;
        border: none;
        border-radius: 7px;
        margin-right: 5px;
        margin-top: 10px;

        &:hover {
          color: $whiteText;
        }
      }
    }

    &-desiredGifts {
      &-header {
        font-size: 24px;
        color: $whiteText;
      }

      &-container {
        display: flex;
        flex-wrap: wrap;
        
        &-gift {
          cursor: pointer;
          width: min-content;
          margin: 5px;
          &-photo {
            width: 70px;
            border-radius: 20px;
            transition: opacity 0.3s ease-out;

            &:hover {
              opacity: 0.5;
            }
          }

          &-name {
            color: $whiteText;
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
