@import "../../utils/variables.scss";

.LoginForm {
  position: absolute;
  height: 100vh;
  width: 500px;
  background-color: $brown;
  font-family: "Inter", sans-serif;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .error-message {
    color: red;
    font-size: 12px;
    width: 60%;
    margin: 0 1vh;
  }

  &__logoName {
    cursor: pointer;
    text-align: center;
    margin-top: 7vh;
    font-size: 118px;

    &-one {
      color: #eda452;
    }

    &-two {
      color: #fbd9a3;
    }
  }

  &__container {
    margin-top: 10vh;

    &-login,
    &-password {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: space-around;
      flex-wrap: wrap;

      label {
        color: $whiteText;
        font-size: 18px;
        margin:0 0 5px 10px;
      }

      input {
        height: 25px;
        width: 60%;
        padding-left: 15px;
        color: $lightBrown;
        background-color: $orange;
        font-size: 18px;
        border: none;
        border-radius: 25px;
        margin-bottom: 15px;
      }
    }

    &-loginButton {
      text-align: center;

      button {
        cursor: pointer;
        height: 45px;
        width: 120px;
        font-size: 21px;
        color: $lightBrown;
        background-color: $orange;
        font-family: "Inter", sans-serif;
        border: none;
        border-radius: 20px;
        margin-top: 15px;
      }

      button:hover {
        color: $whiteText;
      }
    }
  }

  .LoginForm__otherOptions {
    margin: 15vh 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-register {
      font-size: 14px;
      color: $lightBrown;
      text-decoration: none;
    }

    &-register:hover {
      color: $whiteText;
    }
  }
}
