@import "../../utils/variables.scss";

.LoginForm {
  position: absolute;
  height: 100vh;
  width: 550px;
  background-color: $brown;

  &__logoName {
    text-align: center;
    margin-top: 10vh;
    font-family: "Inter", sans-serif;
    font-size: 118px;

    &-one {
      color: #eda452;
    }

    &-two {
      color: #fbd9a3;
    }
  }

  form {
    font-family: "Inter", sans-serif;
    margin-top: 10vh;
    .LoginForm__login,
    .LoginForm__password {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: space-around;
      flex-wrap: wrap;

      label {
        margin: 0  0 -2% 2%;
        color: $whiteText;
        font-size: 18px;
      }

      input {
        height: 35px;
        width: 65%;
        padding-left: 15px;
        color: $lightBrown;
        font-family: "Inter", sans-serif;
        background-color: $orange;
        font-size: 18px;
        border: none;
        border-radius: 25px;
        margin-bottom: 5vh;
      }
    }

    .LoginForm__selection {
      text-align: center;


      p{
        margin: 1vh;
        color: $lightBrown;
        font-size: 16px;
      }
    }

    .LoginForm__loginButton,
    .LoginForm__registerButton {
      text-align: center;

      button {
        height: 50px;
        width: 115px;
        font-size: 21px;
        color: $lightBrown;
        background-color: $orange;
        font-family: "Inter", sans-serif;
        border: none;
        border-radius: 20px;
      }

      button:hover{
        color: $whiteText;
      }

    }
  }
}
