@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
.LoginForm {
  position: absolute;
  height: 100vh;
  width: 600px;
  background-color: #422D27;
}
.LoginForm__logoName {
  text-align: center;
  margin-top: 10vh;
  font-family: "Inter", sans-serif;
  font-size: 118px;
}
.LoginForm__logoName-one {
  color: #eda452;
}
.LoginForm__logoName-two {
  color: #fbd9a3;
}
.LoginForm form {
  font-family: "Inter", sans-serif;
  margin-top: 10vh;
}
.LoginForm form .LoginForm__login,
.LoginForm form .LoginForm__password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}
.LoginForm form .LoginForm__login label,
.LoginForm form .LoginForm__password label {
  margin: 0 0 -2% 2%;
  color: #EDE7DC;
  font-size: 18px;
}
.LoginForm form .LoginForm__login input,
.LoginForm form .LoginForm__password input {
  height: 35px;
  width: 65%;
  padding-left: 15px;
  color: #854b25;
  font-family: "Inter", sans-serif;
  background-color: #F0AB55;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  margin-bottom: 5vh;
}
.LoginForm form .LoginForm__selection {
  text-align: center;
}
.LoginForm form .LoginForm__selection p {
  margin: 1vh;
  color: #854b25;
  font-size: 16px;
}
.LoginForm form .LoginForm__loginButton {
  text-align: center;
}
.LoginForm form .LoginForm__loginButton button {
  height: 50px;
  width: 115px;
  font-size: 24px;
  color: #854b25;
  background-color: #F0AB55;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 20px;
}
.LoginForm form .LoginForm__loginButton button:hover {
  color: #EDE7DC;
}
.LoginForm form .LoginForm__otherOptions {
  margin: 4vh 3vw 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.LoginForm form .LoginForm__otherOptions .css-1xylxj1-MuiTypography-root-MuiLink-root {
  font-size: 14px;
  color: #854b25;
  text-decoration: none;
}
.LoginForm form .LoginForm__otherOptions .css-1xylxj1-MuiTypography-root-MuiLink-root:hover {
  color: #EDE7DC;
}
.LoginForm form .LoginForm__otherOptions-google .gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: #f2f2f2;
  background-image: none;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: -moz-min-content;
  min-width: min-content;
}
.LoginForm form .LoginForm__otherOptions-google .gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}
.LoginForm form .LoginForm__otherOptions-google .gsi-material-button .gsi-material-button-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}/*# sourceMappingURL=LoginForm.css.map */