@import "../../utils/variables.scss";

.SearchList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
  height: calc(100vh - 250px);
  font-family: "Inter", sans-serif;
  border-radius: 25px;
  background-color: rgba(233, 202, 192, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    height: 15%;
    width: 20%;
    text-align: center;
    margin: 10px;
    position: relative;

    &-heart {
      width: 30px;
      height: 30px;
    }

    &-photo {
      width: 30%;
      border-radius: 20px;
      transition: opacity 0.3s ease-out;
      position: relative;

      &:hover {
        opacity: 0.5;
      }

      &.added {
        opacity: 0.5;

        + .SearchList__item-label {
          opacity: 1;
        }
      }

      & + .SearchList__item-label {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $lightBrown;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.3s ease-out;
      }
    }

    &-name {
      font-size: 12px;
      color: $lightBrown;
      margin: 0;
    }
  }
}
